.chat-messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0;
  min-height: min-content;
}

.message {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message {
  display: inline;
  color: #999999;
}

.message .user-id {
  font-weight: bold;
}
